/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (min-width: 0px) {
  .heroHeader {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30vw;
    line-height: 30vw;
  }
}

@media screen and (min-width: 750px) {
  .heroHeader {
    margin-top: 50px;
    text-align: center;
    font-size: 230px;
    line-height: 230px;
  }
}

.heroTagline {
  text-align: center;
  font-size: 30px;
  padding-bottom: 0px;
}
