/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroSection {
}

.heroHeader {
  margin-top: 50px;
  text-align: center;
  font-size: 230px;
}

.heroTagline {
  text-align: center;
  font-size: 30px;
  padding-bottom: 0px;
  margin-top: -60px;
}
