/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.landingContainer {
  width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.landingContainer h2 {
  margin-top: 50px;
}

@media screen and (max-width: 650px) {
  .landingContainer {
    width: 100%;
  }
}
